<mat-toolbar class="header-toolbar" color="primary">
  <mat-toolbar-row>
    <div class="container" style="display: flex;">
      <div class="">
        <div class="col">
        <a href="index.html"> <img class="position_content" id="u4647_img" src="../../../../assets/images/logo-seralse_hor-crop-u4647.png" alt="" width="218" height="44"></a>
      </div>
     </div>
      <div class=" between-xs middle-xs header-row">
        <div class="col">
        <nav>
          <a mat-button routerLink="/home" >Seralse</a>
          <a mat-button routerLink="/servicios" >Servicios</a>
          <a mat-button routerLink="/asesorias-juridicas" >Asesoria Juridica</a>
          <a mat-button routerLink="/cobranzas" >Cobranzas</a>
          <a mat-button routerLink="/seguros" >Seguros</a>
          <a mat-button routerLink="/contactanos" >Contactanos</a>
        </nav>
      </div>
       <!-- <a mat-raised-button matBadge="4" matBadgeColor="warn">
          <mat-icon>shopping_cart</mat-icon>
          Carrito
        </a>-->
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
