<mat-toolbar class="header-toolbar">
  <mat-toolbar-row>
    <div class="container" style="display: flex;">
      <div >
        <div class="col">
          <a href="index.html"> <img class="position_content" id="u4647_img"
              src="../../../../assets/images/logo-seralse-white.png" alt="logo seralse menu" style="height: 93px;
              padding-top: 51px;" width="100%" height="auto"></a>
        </div>
      </div>
     <div class="between-xs middle-xs header-row">
        <div class="col" style="float: right; padding-top: 86px;">
          <!--MENU ESCRITORIO-->
          <nav class="desktop-menu">
             <a mat-button routerLink="/home">Seralse</a>
             <a mat-button routerLink="/servicios-juridicos">Servicios</a>
             <a mat-button routerLink="/asesorias-juridicas">Asesoria Juridica</a>
             <a mat-button routerLink="/cobranzas">Cobranzas</a>
             <a mat-button routerLink="/seguros">Seguros</a>
             <a mat-button routerLink="/contactanos">Contactanos</a>
             <a mat-button routerLink="/login">Login</a>

           </nav>



            <!-- <a mat-raised-button matBadge="4" matBadgeColor="warn">
              <mat-icon>shopping_cart</mat-icon>
              Carrito
            </a>-->

            <div class="burger-menu" >
              <button mat-button [matMenuTriggerFor]="menu"><mat-icon aria-hidden="false">menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item  routerLink="/home">Seralse</button>
                <button mat-menu-item  routerLink="/servicios-juridicos">Servicios</button>
                <button mat-menu-item  routerLink="/asesorias-juridicas">Asesoria Juridica</button>
                <button mat-menu-item  routerLink="/cobranzas">Cobranzas</button>
                <button mat-menu-item  routerLink="/seguros">Seguros</button>
                <button mat-menu-item  routerLink="/contactanos">Contactanos</button>
                <button mat-menu-item  routerLink="/login">Login</button>
              </mat-menu>

             </div>
        </div>


             <!--MENU BURGER RESPONSIVE-->



           <!--FIN MENU DESKTOP-->
      </div>


    </div>
  </mat-toolbar-row>
</mat-toolbar>
