  <mat-list>
      <h1 style="text-align: center !important;">NUESTRO PORTAFOLIO</h1>
   <mat-divider style="background-color: #000 !important;"></mat-divider>
  </mat-list>
   <mat-card style="top:39px;
      background: #D1E8FF;
      width: 70%;
      margin: 0 auto;"> 
    <p style="font-size: 22px; 
    width: 50%;
    margin: 0 auto;
    padding-top: 14px;"><span style="font-weight: bolder;">SERALSE LTDA</span> <br>Logra una alta posicion en el mercado, mediante una labor eficaz y transparente, teniendo como único objetivo satisfacer las necesidades de nuestros&nbsp; clientes, realizando una gestión impecable, dinámica, seria&nbsp; y positiva&nbsp; frente a&nbsp; las gestiones encomendadas.</p></mat-card>
    <!-- Sistema de grid para blog de servicios -->
    <mat-divider style="margin-top: 70px; "></mat-divider>
    <div class="container" style="margin-top: 70px;">
      <div class="row">
        <div class="col-sm">
          <!-- content con target -->
          <mat-card><a  style="text-decoration: none;">
            <!--TITULO-->
            <img src="../../../assets/images/juridica.png" alt="">
            <h1 style="text-align: center;" >ASESORIA JURIDICA</h1></a>
            <p>Contamos con Profesionales íntegros, listos para atender sus requerimientos en los diferentes espacios del Derecho, como son:</p>
            <ul>
              <li>Derecho Civil </li>
              <li>Derecho Comercial</li>
              <li>Derecho laboral </li>
              <li>Derecho administrativo</li>
            </ul>
          </mat-card> 
        </div>
        <div class="col-sm">
           <!-- content con target -->
           <mat-card><a  style="text-decoration: none;">
            <!--TITULO-->
            <img class="block" id="u6851_img" src=".../../../assets/images/foto_seguros-crop-u6851.jpg" alt="" width="359" height="168">
            <h1  style="text-align: center;">SEGUROS</h1></a>
            <p>Brindamos asesoría en cada uno de los ramos del seguro, ofreciendo pólizas con soluciones confiables, económicas y eficientes</p>
            <ul>
              <li>Seguros Generales</li>
              <li>Seguros De Cumplimiento</li>
              <li>Seguros De Vida</li>
              <li>Seguros De Automoviles</li>
              <li>Seguros De Carga</li>
              <li>SOAT</li>
            </ul>
          </mat-card> 
        </div>
        <div class="col-sm">
           <!-- content con target -->
           <mat-card><a  style="text-decoration: none;" >
            <!--TITULO-->
            <img class="block" id="u6851_img" src=".../../../assets/images/accountingbiz-crop-u6845.jpg" alt="" width="359" height="168">
            <h1 style="text-align: center;">COBRANZAS</h1></a>
            <p>De una manera cordial pero contundente realizamos el cobro de sus valores ante su deudor con el compromiso y la responsabilidad que estos vuelvan a usted.</p>
            <ul>
              <li>Cartera Administrativa</li>
              <li>Cartera Pre-juridia</li>
              <li>Cartera de dudoso recaudo</li>
              <li>Cartera Juridica</li>
            </ul>
          </mat-card> 
        </div>
      </div>
    </div>
    <!-- Texto con imagenes-->
    <mat-divider style="margin-top: 32px;"></mat-divider>
    <div class="container" style="padding-top: 42px;">
      <img src=".../../../assets/images/img-servicio.PNG" alt="">
    </div>
    