.background{
    position: absolute;
}

.seralse{
    position: relative;
    z-index: 1;
    bottom: 15px;
    /* margin: 0 auto; */
    left: 159px;
}
@media (min-width: 260px) and (max-width: 768px) {
   .seralse{
    width: 580px;
    left: 9px;
    height: 204px;
   }
   .background{
     width: 450px;
   }
  }
  
  @media (min-width: 800px) and (max-width: 2400px) {
    
  }
  