.title{
    text-align: center !important;
}

.color-divider{
    background-color: #000 !important;
}

.main-card{
    top:39px;
    background: rgba(209, 232, 255, 0.3);
    width: 70%;
    margin: 0 auto;
}

.position-text{
    font-size: 22px; 
    width: 50%;
    margin: 0 auto;
    padding-top: 14px;
}

.position-divider {
    margin-top: 70px;
}

.title-card {
    text-align: center;
    text-transform: uppercase;
}