@import '~@angular/material/theming';



footer {
  margin-top: 9%;
  background-color: #002496;
  .box {
    h3 {
      color: white;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        margin: 10px 0px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
  li {
    margin: 10px 0px;
    text-decoration: none;
    list-style: none;
  }
    a {
      text-decoration: none;
      color: white;
}

@media (min-width: 260px) and (max-width: 768px) {
  .footer-main{
    height: 475px;
    padding-left: 38px;
  }
}

@media (min-width: 800px) and (max-width: 2400px) {
  
}

