<footer>
  <div class="container footer-main">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>SERVICIOS</h3>
          <ul>
            <li>
              <a routerLink="/servicios-juridicos" 
                >Nuestros Servicios</a
              >
            </li>
            <li>
              <a routerLink="/home" [queryParams]="{ type: 'offer' }"
                >Seralse</a
              >
            </li>
            <li>
              <a routerLink="/asesorias-juridicas" [queryParams]="{ type: 'latest' }"
                >Asesoria Juridica</a
              >
            </li>
            <li>
              <a routerLink="/cobranzas" [queryParams]="{ type: 'latest' }"
                >Cobranzas</a
              >
            </li>
            <li>
              <a routerLink="/seguros" [queryParams]="{ type: 'latest' }"
                >Seguros</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Acerca de SERALSE</h3>
          <ul>
            <li><a routerLink="/home">Sobre nosotros</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Contacto</h3>
          <!-- <mat-form-field color="accent" class="full-width">
                <input [formControl]="emailInput" matInput placeholder="Su correo" type="email">
              </mat-form-field>
              <button (click)="registerMail()" [disabled]="emailInput.invalid" mat-raised-button color="accent">Suscribirse</button> -->
              <li><a routerLink="/contactanos">Enviar mensaje ahora!</a></li>
              <li><a routerLink="/contactanos">Nuestra ubicacion</a></li>
              <li><a routerLink="/contactanos">Llamar ahora</a></li>
              <li><a routerLink="/contactanos">Enviar Correo Ahora</a></li>
        </div>
      </div>
    </div>
   
  </div>
  <div align="center" style="background-color: #ffffff; "><!-- image -->
    <img class="block" id="u6940_img" src="../../../../assets/images/logo-seralse_hor.png" alt="" width="781" height="100">
   </div>
</footer>
