.box{
    position: relative;
    top: -117px;
    padding-top: 189px;  
}

.content{
    position: relative;
    top: -126px;
}
.image{
    margin-bottom: 47px;
}

.content-fome{
    font-size: 29px;
    letter-spacing: 1px;
    line-height: 94px;
    display: flex;
    justify-content: center;
}
