
<app-banner ></app-banner>
<div >
    <div ><!-- content -->
     <p style="position: relative;
      top: -117px;
      padding-top: 189px;">Somos&nbsp;una empresa constituida legalmente, conformada por técnicos y profesionales de las más altas calidades académicas y humanas. Dedicada al campo de cobranzas del sector real, la asesoría jurídica y de seguros.</p>
    </div>
  
    <div><!-- content -->
        <p style="
        position: relative;
        top: -126px;">SERALSE LTDA ha sido creada bajo la necesidad en el mercado de una empresa líder,  audaz y dinámica que, sustentada en una cultura de  respeto, se dedique a la recuperación de activos, la asesoría legal y de seguros, conservando siempre en alto el buen nombre de sus clientes.</p>
    </div>
        <!-- image -->
    <div align="center">
        <img  src="../../../../assets/images/logo-seralse_hor.png" alt="" width="781" height="100" >
    </div>
    <div align="center">
    <div><!-- content -->
        <p style="font-size: 29px;
          letter-spacing: 1px;
          line-height: 94px;
          display: flex;
          justify-content: center;
          ">ESTAMOS PARA SERVIR A USTED Y A SU EMPRESA, DEJE TODO EN NUESTRAS MANOS&nbsp; Y ASEGURE EL EXITO DE SU CARTERA!!</p>
      </div>          
     
      </div>
   
</div>