<mat-list>
  <h1 style="text-align: center !important;">ASESORIA JURIDICA</h1>
<mat-divider style="background-color: #000 !important;"></mat-divider>
</mat-list>
<h2 style="text-align: center !important;">ABOGADOS ESPECIALIZADOS EN:</h2>
    <mat-grid-list cols="2" rowHeight="2:1">

      
        
       <mat-grid-tile> 
        <div>
         <img src="../../../assets/images/derecho-civil.webp" alt="maso de juez" width="460px"> <br>
         <mat-divider style="background-color: #000 !important;"></mat-divider>
          <p>Derecho Civil</p> 
        </div>
         </mat-grid-tile> 
      

      <mat-grid-tile>
        <div>
          <img src="../../../assets/images/images1254.jpg" alt="dando la mano" width="390px"> <br>
          <mat-divider style="background-color: #000 !important;"></mat-divider>
          <p> Derecho Comercial </p> 
        </div>
      </mat-grid-tile>

    
      <mat-grid-tile>
        <div>
          <img src="../../../assets/images/derecho-laboral.jpg" alt="casco" width="420px"> <br>
          <mat-divider style="background-color: #000 !important;"></mat-divider>
          <p> Derecho laboral </p> 
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div>
          <img src="../../../assets/images/derecho-admin.jpg" alt="grecia" width="360px"> <br>
          <mat-divider style="background-color: #000 !important;"></mat-divider>
          <p> Derecho administrativo </p> 
        </div>
      </mat-grid-tile>
   
    </mat-grid-list>

  