/* You can add global styles to this file, and also import other style files */
// body {
//   margin: 0px;
//   padding: 0px;
// }

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px 20px;
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .container {
    max-width: 1110px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif;  }

img {
  max-width: 100%;
}

.color-divider{
  background-color: #000 !important
}

.justify-text{
  text-align: justify;
}

.text-card{
  font-size: 22px; 
  margin: 0 auto;
  padding-top: 14px;
}

.title{
  text-align: center !important;
  }
  